* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color:#1b1c21;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main{
  padding: 60px 30px;
  background-image: url(/src/assets/react.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 65%;
  color:white;
}
main > h1{
  font-style: bold;
  margin: 0;
}
main > ul >li{
  padding: 5px;
}
main > ul >li::marker{
  color:#61DAFB;
  font-size: 1.5rem;
}

