
body{
    background-color: #ffff;
    margin: 0;
}
nav{
    background-color: #f55a5a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 16px;
}
nav > span{
    padding-left: 10px;
    color:white;
    font-size: 1.2rem;
    font-family: inter, sans-serif;
}
nav > img{
    width: 24px;
}